body{
	background-image: url('../assets/pan_fondo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	margin:0;
	}
#banner{
    position: relative;
	background-image: url('../assets/inicio.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 50vh;
}    
.banner_mario{
	@extend #banner;
	background-image: url("../assets/sobremario.jpg");
}
@mixin banners ($minheight, $height){
	min-height: $minheight;
	height: $height;
}
#banner_blog{
	position: relative;
	background-image: url('../assets/blog.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@include banners(400px, 50vh);
}
#banner_pedidos{
	@extend #banner;
	background-image: url('../assets/pedidos.jpg');
	@include banners(400px, 50vh);	
}
#banner_catalogo{
	@extend #banner;
	background-image: url('../assets/catalogo.jpg');
	@include banners(400px, 50vh);
}
.color_nav{
    background-color: $color_titulos_nav;
}
#titulos_nav{
    color: $color_header;
    &:hover{
        color: #8BE6EC; 
    }
}
.card{
	width: 22rem;
}
.card-blog{
	background-color: #8BE6EC;
}
.card-title-blog{
	text-align: left;
	color: #4f2d34;
	font-size: 1.2rem;;
}
.cat_blog{
	color: #4f2d34;
	text-align: left;
	font-size: .8rem;;
	text-decoration: underline;
	padding-bottom: 0%;
}
.fecha-blog{
	color: #BC9673;
	text-align: left;
	font-size: .8rem;
	padding-top: 0%;
}
.entrada{
	color: #4f2e34;
	text-align: left;
}
.a_entrada{
	color: #BC9673;
	text-align: left;

}
.entrada{
	margin-top: 5%;
}
#pan_img{
	max-width: 100%;
	padding-top: 10%;
}
.pancito{
	max-width: 65%;
	padding-top: 10%;
}
#al_blog{
	background-color: #8BE6EC;
}
.fecha{
	color: $color_entrada_blog;
	font-weight: 500;
}
.autor{
	@extend .fecha;
}
.blog_link{
	text-decoration: none;
	&:active{
		color: $color_entrada_blog;
	}
}
.share{
	@extend .fecha;
}
#banner .texto{
    z-index: 2;
}
.img_blog{
	max-width: 150%;
	margin-left: 40%;
}
.subtitulo_banner{
    font-size: 1.2rem;
}
.titulos{
	font-size: 3rem;
	font-weight: 700; 
}
.titulos_contenido{
	@extend .titulos;
	color: $color_titulos;
}
.titulo_sobre{
	font-size: 2rem;
	font-weight: 700;
	color: $color_titulos;
}
.titulos_panes{
	font-weight: 900;
	font-size: 1.5rem;
	color: $color_titulos;
}
.oscuro{
	color: $color_titulos;
}
#pan_titulo{
	max-width: 20%;
}
.imgs_destacados{
	max-width: 100%;
}
.img_mario{
	max-width: 80%;
}
.bio{
	margin-top: 5%;
	text-align: justify;
}
.banner-fondo{
	overflow: hidden;
    max-height: 600px;
}
.texto-banner-fondo{
		position: absolute;
		max-width: 500px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
}
.p_parrafo{
	font-weight: 400;
}
.p_strong{
	color: $color_titulos;
}
.p_link{
	text-decoration: none;
	color: $color_titulos_nav;
}
.p_color{
	color: $color_titulos;
	font-weight: 500;
}
.boton_comprar{
	font-weight: 500;
	font-size: 1.2rem;
    &:hover{
        color: rgba(255, 255, 255, 1) !important;
        box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
        transition: all 0.2s ease;
      }
}
#seccion_destacada{
	background-color: #DDE6FD;
}
#cursiva{
	font-weight: 200;
	font-size: 2rem;
	font-style: italic;
	color: #4f2d34;
	border-bottom-style: solid;
	border-color: #4f2d34;
}
.parrafo{
	color: #4f2d34;
}
#footer .titulos{
	font-weight: 500;
	font-size: 1.2rem;
}